#!/bin/bash

## ----- 一般不需要修改 -----
. /etc/profile                                     #--- reboot后从计划任务中启动需要PATH
# server env
SERVER_CONF_FILE_PATH="/etc/wireguard"             #--- wireguard服务器配置文件路径
WG_IF=${WG_IF:-'wg0'}                                #--- wireguard服务器网卡（支持外部预设，如：WG_IF=wg1 ./脚本.sh）
IP_PREFIX='172.30.0'                               #--- wireguard服务器网络地址前3节
IP_NETMASK='24'                                    #--- wireguard服务器IP掩码
IP_START=11                                         #--- 用户IP自动分配起始值（默认11）
# run
SERVER_CONF_FILE="${SERVER_CONF_FILE_PATH}/${WG_IF}.conf"
SERVER_PRIVATE_KEY="${SERVER_CONF_FILE_PATH}/private.key"
TODAY_WG_USER_LATEST_LOGIN_FILE="/tmp/wg-user-latest-login-today-${WG_IF}.txt"

## ----- 一般需要修改 -----
# 钉钉
export DINGDING_WEBHOOK_API="https://oapi.dingtalk.com/robot/send?access_token=填上你的token在这里"      #-- 用来发送钉钉消息
# server env
SERVER_CONNECT_INFO='服务器IP或域名:端口如51820'            #--- wireguard服务器用以接受用户连接的IP或域名及端口，用来生成用户的wg配置文件
# user env
USER_DNSs='192.168.11.3,192.168.11.4'                       #--- 用户的DNS，用来设置用户的DNS
USER_ALOWED_IPs="${IP_PREFIX}.0/${IP_NETMASK},0.0.0.0/0"    #--- 用户端走Wireguard链路的网络地址范围（用来设置用户端路由）


