#!/bin/bash

## for服务器端
# 根据自己的服务器信息填写
WG_IF='wg0'                                                  #--- wireguard服务器网卡
SERVER_CONF_FILE="/etc/wireguard/${WG_IF}.conf"              #--- 如果本程序运行在非wireguard服务器上，可以将服务器配置文件指到任意你想要的位置


## for用户端
# server env
SERVER_PUBKEY='4hgy39g5jUKU/KPzy28lQnIWEiV5xxxxxxxxxxxxxx='  #--- wireguard服务器公钥
IP_PREFIX='172.30.0'                          #--- wireguard服务器网络地址前3节
IP_NETMASK='24'                               #--- wireguard服务器IP掩码
SERVER_CONNECT_INFO='服务器IP:端口如51820'    #--- sireguard服务器用以接受用户连接的IP与端口
# user env
USER_DNSs='192.168.11.3,192.168.11.4'                       #--- 用户的DNS
USER_ALOWED_IPs="${IP_PREFIX}.0/${IP_NETMASK},0.0.0.0/0"    #--- 用户端走VPN链路的网络地址范围（用来设置用户端路由）


